@font-face {
    font-family: ��嚙踐�縣��嚙踝蕭;
    /*         src: url('../fonts/Minecraft-Regular.otf'); */
}

body {
    font-family: "Lato", sans-serif;
    background-color: #ffffff;
}

.sidebar {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #404040;
    transition: 0.5s;
    padding-top: 10px;
    transform: translateX(-100%);
    transition: 0.5s;
}

#side-menu-switch:checked+.sidebar {
    transform: translateX(0);
    transition: 0.5s;
}

#side-menu-switch:checked+.sidebar label .fas {
    transition: 0.5s;
    transform: scaleX(-1);
}

#side-menu-switch {
    transition: 0.5s;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.sidebar label {
    position: absolute;
    width: 30px;
    height: 80px;
    background-color: #404040;
    color: white;
    right: -30px;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 160px;
    font-size: 30px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.sidebar svg {
    padding-right: 30px;
}

.sidebar li {
    position: relative;
}

.sidebar span:hover>ul {
    display: block;
}

.sidebar span li:hover {
    background-color: #EBEBEB;
}

.sidebar span ul li:hover ul {
    display: block;
}

.sidebar ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0px;
    width: 200px;
    height: 100%;
    background-color: #F6F6F6;
}

.sidebar span ul {
    list-style-type: none;
    background-color: #F6F6F6;
    padding: 0px 30px 0px 0px;
    width: 257.78px;
}

.sidebar span ul li a {
    text-decoration: none;
    color: #FCAA23;
    font-size: x-large;
    padding-right: 30px;
    font-weight: bold;
    padding-bottom: 5%;
    padding-top: 5%;
}

.sidebar span ul li {
    color: #FCAA23;
    font-size: x-large;
    font-weight: bold;
    margin-left: 0px;
    padding-right: 2vw;
    border-bottom: 2px solid #CBCBCB;
    background-color: #F6F6F6;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 15%;
    width: 210px;
}

.sidebar span ul li ul {
    position: absolute;
    top: 0px;
}

.fas {
    margin-top: 25px;
}

.sidebar svg {
    width: 6vh;
    height: 6vh;
    margin-left: 20px;
}

.sidebar p {
    margin-left: 26px;
    font-size: 18px;
    color: #cbcbcb;
    position: relative;
    bottom: 10px;
    padding-left: 2%;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar span {
        font-size: 18px;
    }
}